<h1 id="tableLabel" *ngIf="cliente">{{cliente.primerNombre}} {{cliente.primerApellido}}</h1>

<p *ngIf="!cliente"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cliente">
  <thead>
    <tr>
      <th>id</th>
      <th>Tipo de documento</th>
      <th>Documento</th>
      <th>Primer nombre</th>
      <th>Segundo Nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Celular</th>
      <th>Direccion</th>
      <th>Correo</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.tipoDocumento }}</td>
      <td>{{ cliente.documento }}</td>
      <td>{{ cliente.primerNombre }}</td>
      <td>{{ cliente.segundoNombre }}</td>
      <td>{{ cliente.primerApellido }}</td>
      <td>{{ cliente.segundoApellido }}</td>
      <td>{{ cliente.celular }}</td>
      <td>{{ cliente.direccion }}</td>
      <td>{{ cliente.correo }}</td>

    </tr>
  </tbody>
</table>
